@import '~antd/lib/style/themes/default.less';

.dispatchingLayout {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.95);

  :global {
    .ant-tabs-bar {
      margin: 0 5px 5px 5px;
    }
    .ant-form-item {
      margin-bottom: 5px !important;
    }
  }

  .dispatchingCard {
    height: 86vh;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }
  .dispatchingBottomCard {
    height: 60vh;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }
  .cardTitle {
    font-size: 14px;
    font-weight: 600;
    color: #363e4b;
    text-align: center;
  }
  .orderPoolFooter {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .orderTotalPane {
    background-color: rgb(234, 241, 252);
    border: 1px solid rgb(59, 119, 227);
    padding: 3px;
    border-radius: 3px;
  }
}
.createPageLoading {
  height: 100%;
}
.dispatchingCreatePage {
  :global {
    .tools-center {
      text-align: center;
    }
    .ant-card-head {
      min-height: 30px;
      padding: 0 10px;
    }
    .ant-card-head-title {
      padding: 8px 0;
    }
    .ant-card-extra {
      padding: 0;
    }
    .ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
      padding: 8px 16px;
    }
    .ant-spin-container {
      height: 100%;
    }
    .ant-modal-content {
      max-height: unset;
    }
    .ant-badge-count {
      min-width: 14px;
      height: 14px;
      line-height: 14px;
      padding: 0px 4px;
    }
  }

  .panel {
    border: 2px solid #3b77e3;
    color: #000000a6;
    border-radius: 5px;
    font-weight: bold;
    width: 128px;
    height: 60px;
    display: inline-block;
    text-align: center;
    margin: 0 0 4px 5px;
  }
  .panelSelect {
    border-color: #20bf55;
    color: #20bf55;
  }

  .vehicleCardContent {
    align-items: center;
    display: flex;
    padding: 10px 0 10px 12px;
  }
  .employeeCardContent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .employeeName {
    width: 100%;
    line-height: 24px;
    text-align: end;
    margin-right: 5px;
  }

  .selectCary {
    display: inline-block;
    width: 80px;
    border: 1px solid #d9d9d9;
    color: white;
    background-color: #20bf55;
    border-radius: 5px;
    text-align: center;
  }

  .selectCarn {
    display: inline-block;
    width: 80px;
    border: 1px solid #d9d9d9;
    color: white;
    background-color: red;
    border-radius: 5px;
    text-align: center;
  }

  .orderTotalCardBody {
    margin: 5px 0;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .orderTotalNumber {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
}

.dispatchingTable {
  :global {
    .ant-table {
      border: 1px solid #e8e8e8;
      border-radius: 4px;
    }
    .ant-table colgroup > col.ant-table-selection-col {
      width: 35px;
    }
    tr.ant-table-expanded-row td > .ant-table-wrapper {
      margin: 5px 0 -5px;
    }
    .ant-table-tbody > tr > td {
      padding: 2px !important;
    }
    .ant-table-thead > tr > th.ant-table-row-cell-break-word,
    .ant-table-tbody > tr > td.ant-table-row-cell-break-word {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .ant-table-title {
      padding: 4px;
    }
    .ant-table-placeholder {
      position: absolute;
      margin: auto;
      top: 35px;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .ant-table-pagination.ant-pagination {
      float: right;
      margin: 4px 0 0;
    }
    .react-resizable {
      position: relative;
      background-clip: padding-box;
    }
    .react-resizable-handle {
      position: absolute;
      width: 10px;
      height: 100%;
      bottom: 0;
      right: -5px;
      cursor: col-resize;
      z-index: 1;
    }
    .clickedStyle {
      background-color: #bccff5;
    }
    .warningStyle {
      background-color: #ff000073;
    }

    ::-webkit-scrollbar {
      height: 10px;
      width: 10px;
      border-radius: 8px;
    }

    ::-webkit-scrollbar-track {
      background-color: #ffffff;
    }
  }
}
