@import '~antd/lib/style/themes/default.less';

.dispatchingLayout {
  background: #ffffff;

  :global {
    .ant-tabs-bar {
      margin: 0 0 8px 0;
    }

    .ant-form-item {
      margin-bottom: 5px !important;
    }
  }

  .dispatchingCard {
    padding: 0 5px;
    height: 68vh;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }
  .cardTitle {
    font-size: 14px;
    font-weight: 600;
    color: #363e4b;
    text-align: center;
  }
}

.dispatchingCreatePage {
  width: 96vw !important;
  height: 96vh;

  :global {
    .tools-center {
      text-align: center;
    }
    .ant-card-head {
      min-height: 30px;
      padding: 0 10px;
    }
    .ant-card-head-title {
      padding: 8px 0;
    }
    .ant-card-extra {
      padding: 0;
    }
    .ant-tabs .ant-tabs-large-bar .ant-tabs-tab {
      padding: 8px 16px;
    }
    .ant-modal {
      padding-bottom: 0;
    }
    .ant-modal-content {
      max-height: unset;
      height: 96vh;
    }
  }

  .vehicleCardWapper {
    border: 2px solid #3b77e3;
    border-radius: 5px;
    color: #000000a6;
    font-weight: bold;
    width: 180px;
    height: 80px;
    display: inline-block;
    text-align: center;
    margin: 0 0 8px 10px;
  }
  .vehicleCardContent {
    align-items: center;
    display: flex;
    padding: 20px 0 20px 24px;
  }
  .employeeCardContent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .selectedCehicleCardWapper {
    border: 2px solid #20bf55;
    border-radius: 5px;
    font-weight: bold;
    color: #20bf55;
    width: 180px;
    height: 80px;
    display: inline-block;
    text-align: center;
    margin: 0 0 8px 10px;
  }

  .selectCary {
    display: inline-block;
    width: 80px;
    border: 1px solid #d9d9d9;
    color: white;
    background-color: #20bf55;
    border-radius: 5px;
    text-align: center;
  }

  .selectCarn {
    display: inline-block;
    width: 80px;
    border: 1px solid #d9d9d9;
    color: white;
    background-color: red;
    border-radius: 5px;
    text-align: center;
  }

  .orderTotalCardBody {
    margin: 5px 0;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .orderTotalCardBody2 {
    margin: 5px 0;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .orderTotalNumber {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  .orderTotalCol {
    border-right: 1px solid #e8e8e8;
  }
}

.dispatchingTable {
  :global {
    .ant-table {
      border: 1px solid #e8e8e8;
      border-radius: 4px;
    }
    .ant-table colgroup > col.ant-table-selection-col {
      width: 35px;
    }
    tr.ant-table-expanded-row td > .ant-table-wrapper {
      margin: 5px 0 -5px;
    }
    .ant-table-thead > tr > th.ant-table-row-cell-break-word,
    .ant-table-tbody > tr > td.ant-table-row-cell-break-word {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .ant-table-placeholder {
      position: absolute;
      margin: auto;
      top: 35px;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .ant-table-pagination.ant-pagination {
      float: right;
      margin: 8px 0 0;
    }
    .react-resizable {
      position: relative;
      background-clip: padding-box;
    }
    .react-resizable-handle {
      position: absolute;
      width: 10px;
      height: 100%;
      bottom: 0;
      right: -5px;
      cursor: col-resize;
      z-index: 1;
    }
    .clickedStyle {
      background-color: #bccff5;
    }
    ::-webkit-scrollbar {
      height: 10px;
      width: 10px;
      border-radius: 8px;
    }

    ::-webkit-scrollbar-track {
      background-color: #ffffff;
    }
  }
}
