.SmartScheduling {
  .modalxxxxxx {
    padding: unset !important;

    [class="ant-modal-content"] {
      max-height: 100vh;
    }
  }

  // 左边按钮侧边栏
  .leftButtonSidebar {
    position: absolute;
    top: 0;
    width: 250px;
    height: calc(100vh - 80px);
    background: #fff;
    padding: 3px;
    z-index: 999;
    border-radius: 4px;
    transition: all 0.5s;
  }

  // 左侧边栏开关
  .leftSidebarSwitch {
    position: absolute;
    z-index: 1000;
    top: 48vh;
    cursor: pointer;
    background: #fff;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s;
  }

  // 图标样式
  .iconStyle {
    font-size: 30px;
    color: #999;
    transition: all 0.5s;
  }

  // 右侧边栏开关
  .rightSidebarSwitch {
    z-index: 1;
    top: 48vh;
    cursor: pointer;
    position: absolute;
    transition: all 0.2s;
    background: #fff;
    border-radius: 50% 0 0 50%;
    padding: 2px;
  }

  // 智能调度结果卡片
  .resultCard {
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0 #39487061;

    // 人员标签
    .empTag {
      display: inline-block;
      box-shadow: 2px 2px 4px 0 #8f9ca1;
      border-radius: 4px;
      padding: 3px;
      margin: 2px 5px 2px 0;
      // 角色
      .empRole {
        border-radius: 4px;
        background-color: #c5eee500;
        border: #d1d1d1 solid 1px;
        margin-right: 2px;
      }

      // 人员姓名
      .empName {
        border: #ffffff00 solid 1px;
      }
    }
  }

  // 智能调度结果底部
  .resultBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    left: 0;
    background: #fff;
    border-radius: 0 0 4px 4px;
  }

  .resultBottomBtn {
    margin-right: 8px;
    top: 5px;
    padding: 0 6px;

    i {
      font-size: 25px;
    }
  }

}

// 线路颜色
.LinkColor {
  margin-right: 5px;
  display: inline-block;
}

// 智能调度明细列表
.orderDtlList {
  height: calc(100vh - 64px);
  overflow: auto;

  [draggable="true"] {
    cursor: move;
  }
}

// 智能调度详细卡片
.detailCard {
  width: 340px;
  padding: 4px;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: inset 1px 1px 4px 0 #39487061;
  // 智能调度详情页索引
  .detailIndex {
    width: 20px;
    text-align: center;
    color: #999;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
  }

  .w50 {
    display: inline-block;
    width: 50%;
  }
}

.mapStyleItem { // 地图皮肤按钮
  margin: 3px;
  padding: 3px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 #39487061;
}

.mapStyleItem:hover {
  box-shadow: 0 0 6px 0 #2cbb49;
}

.point { // 高德地图点位样式
  background: black;
  border: black solid 2px;
  border-radius: 50%;
  width: 22px;
  height: 23px;
  text-align: center;
  color: white;
}

.empAndVehicleModal { // ————————————智能调度人员车辆选择弹窗————————————
  .panel {
    border: 2px solid #3b77e3;
    color: #000000a6;
    border-radius: 5px;
    font-weight: bold;
    width: 128px;
    height: 60px;
    display: inline-block;
    text-align: center;
    margin: 0 0 4px 5px;
  }

  .panelSelect {
    border-color: #20bf55;
    color: #20bf55;
  }

  .employeeCardContent {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .employeeName {
    width: 100%;
    line-height: 24px;
    text-align: end;
    margin-right: 5px;
  }

  // 选的人员
  .selectedPersonnel {
    display: inline-block; // 强制将元素当作块级元素对待，但仍然可以在一行中排列
    white-space: nowrap; // 禁止内容内部换行
    border: 1px solid #ccc; // 边框设置
    border-radius: 5px; // 圆角设置
    padding: 0 5px 0 0; // 内边距设置
    margin: 5px 0 0 5px; // 外边距设置

    [role="combobox"] { // 人员类型选择器样式
      border: none; // 去掉组件本身的边框
      border-right: 1px solid #ffffff;
      border-radius: 5px 0 0 5px;
      border-color: #cdcdcd !important; // 去掉组件本身的边框
    }
  }
}

.redBtn {
  color: #ff3737;
  transition: all 0.5s;
}

.redBtn:active,
.redBtn:hover,
.redBtn:focus {
  color: #ff8063;
}

.yellowBtn {
  color: #c2c203;
  transition: all 0.5s;
}

.yellowBtn:active,
.yellowBtn:hover,
.yellowBtn:focus {
  color: #dfc562;
}

.dragIngDown,
.dragIngUp {
  cursor: move;
  transition: all 0.2s;
  margin-bottom: 5px;
}

.dragIngUp:before,
.dragIngDown:after {
  content: '';
  display: block;
  text-align: center;
  border: 1px dashed #348dfb;
  margin: 9px;
}

// 成功标签
.successTag {
  background: #ddfbde;
  padding: 2px 4px;
  border-radius: 4px;
  color: #666666;
}

// 失败标签
.failTag {
  background: #fddddd;
  padding: 2px 4px;
  border-radius: 4px;
  color: #666666;
}

// 弹窗最高
.modalMaxHeight100 [class="ant-modal-content"] {
  max-height: 100vh;
}