<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TimeExpress TMS</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/static/css/common.css">
  <link rel="stylesheet" type="text/css" href="/static/css/animate.css">
  <link rel="stylesheet" type="text/css" href="/static/icheck-1.x/square/blue.css">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-datetimepicker.min.css">
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <script type="text/javascript" src="/static/javascript/jquery.min.js"></script>
  <script type="text/javascript" src="/static/javascript/Polyfill.js"></script>
  <script type="text/javascript" src="/static/javascript/mod.js"></script>
  <script type="text/javascript" src="/static/javascript/reflux.min.js"></script>
  <script type="text/javascript" src="/static/javascript/jquery.cookie.js"></script> 
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"  charset="UTF-8"></script>
  <script type="text/javascript" src="/static/icheck-1.x/icheck.min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?type=webgl&v=1.0&ak=2zR81GeTPxrPOQdNZLAzS9N0GnLUNbFa"></script>
  <!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=2zR81GeTPxrPOQdNZLAzS9N0GnLUNbFa"></script> -->
  <script type="text/javascript" src="http://bj.bcebos.com/v1/mapopen/github/BMapGLLib/Lushu/src/Lushu.min.js"></script>
</head>
<body>
  <!-- <script>
!(function(c,b,d,a){c[a]||(c[a]={});c[a].config={pid:"ghft9iub54@6ccc9bd9c2c263d",imgUrl:"https://arms-retcode.aliyuncs.com/r.png?",disableHook:true,enableSPA:true,useFmp:true,sendResource:true};
with(b)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("crossorigin","",src=d)
})(window,document,"https://retcode.alicdn.com/retcode/bl.js","__bl");
</script> -->
  <div id="root"></div>
</body>
</html>
