/* 电宝弹窗 */
.powerbankModal {
  padding: 0 !important;
  width: 96vw !important;

  [class="ant-modal-content"] {  /* 必须有这个选择器，因为类选择器会被转换 */
    height: 96vh !important;
    max-height: 100vh !important;
  }

  [class="ant-modal-body"] {
    padding: 0 10px 3px 10px !important;

    [class="ant-table-body"]{
      max-height: 480px !important;
    }

  }
}

/*状态样式*/
.stat{
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
  width: 90%;
}

// 充电宝管理搜索的地方太窄了，不用col样式了
//.mainTable{
  //[class="ant-col ant-col-6"]{
  //  width: 50% !important;
  //}
  // 隐藏'收起'
  //div[style="float: right;"]> a[style="margin-right: 10px;"]{
  //  display: none !important;
  //}

  // 小齿轮向下移动一点
  //[class~="ant-dropdown-trigger"]{
  //  top:32px;
  //}
//}

// 整个表格向上一点
//[class="v_sj_itms_powerbank_management-SearchForm"] + div + div > div {
//  margin-top: -20px !important;
//}